<div class="transactions-history" ng-class="{'loading': loading}">
    <div class="transactions-title">
        <h1>Partnere</h1>
        <input class="form-control" type="text" placeholder="Søk etter fornavn, etternavn eller e-postadresse" ng-model="searchQuery" ng-change="triggerSearch()">
    </div>

    <div class="transactions-body">
        <section id="no-transactions" ng-if="!hasMembers()">
            <h2>Partneroversikt</h2>
            <div>
                <img src="" alt="" />
                <h3>Ingen partnere funnet</h3>
                <button type="button" class="barefilter-btn dark-blue-full" ng-click="addNew()">Opprett Partner</button>
            </div>
        </section>
        <section id="addresses" ng-if="hasMembers()">
            <h2>Partneroversikt
                <div class="pull-right">
                    <a class="barefilter-btn light-green" ng-click="addNew()">Opprett Partner</a>
                </div>
            </h2>
            <div class="addresses-section-content" ng-repeat="user in users">
                <div class="address">
                    <h4>
                        <strong>{{user.first_name}} {{user.last_name}}</strong>
                    </h4>
                    <p><strong>E-post: </strong>{{user.email}}</p>
                    <p><strong>Telefonnummer:</strong> {{getPhone(user)}} </p>
                    <p><strong>Registreringsdato:</strong> {{user.created_at | date}}</p>

                    <div class="controls pull-right">
                        <button type="button" class="edit" ng-click="edit(user)">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="delete" ng-click="delete(user)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="loader-container">
        <div class="barefilter-loader md centered"></div>
    </div>
</div>


<div class="modal fade" id="create-product-modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center modal-lg" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-lg-12 col-md-12 transfer-description">
                            <div class='transfer-title'>
                                <h1 ng-if="isAddingNew">Opprett Partner</h1>
                                <h1 ng-if="!isAddingNew">Rediger Partner</h1>
                            </div>
                            <hr />
                            <section id='contact-information'>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h2>Fornavn</h2>
                                        <input type="text" id="sku" placeholder="F.eks: 123456" ng-model="partner.first_name">
                                    </div>
                                    <div class="col-lg-6">
                                        <h2>Etternavn</h2>

                                        <input type="text" id="product-name" placeholder="F.eks: VTR 300 Kullfilter" ng-model="partner.last_name">
                                    </div>
                                    <div class="col-lg-6" ng-if="isAddingNew">
                                        <h2>E-postadresse</h2>
                                        <input type="text" id="one-time-transaction" placeholder="F.eks: 840" ng-model="partner.email">
                                    </div>
                                    <div class="col-lg-6">
                                        <h2>Telefonnummer</h2>

                                        <input type="text" id="one-time-transaction" placeholder="F.eks: 840" ng-model="partner.phone">
                                    </div>
                                </div>
                            </section>
                            <hr />
                            <section id='contact-information'>
                                <h2>Selskapsinformasjon</h2>
                                <div class="row">
                                    <div class="col-lg-6">

                                        <p>Firmanavn</p>
                                        <input type="text" id="sku" placeholder="F.eks: 123456" ng-model="partner.properties.company_name">
                                    </div>
                                    <div class="col-lg-6">

                                        <p>Telefonnummer</p>
                                        <input type="text" id="product-name" placeholder="F.eks: VTR 300 Kullfilter" ng-model="partner.properties.company_number">
                                    </div>
                                </div>

                            </section>
                            <hr />
                            <section id='contact-information'>
                                <h2>Rabatt</h2>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-inline">
                                            <div class="form-group">

                                                <input type="number" class="form-control" id="exampleInputName2" placeholder="(%)" ng-model="partner.properties.discount">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </section>
                            <hr />
                            <button ng-if="isAddingNew" type="submit" class="barefilter-btn light-green" ng-click="save()">Opprett partner</button>
                            <button ng-if="!isAddingNew" type="submit" class="barefilter-btn light-green" ng-click="update()">Oppdater partner</button>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->
