<div class="transactions-history" ng-class="{'loading': loading}">
    <div class="transactions-title">
        <h1>Mine engangskjøp</h1>
    </div>

    <div class="transactions-body">
        <section id="no-transactions" ng-if="!hasTransactions()">
            <h2>Ordrehistorikk</h2>
            <div>
                <img src="" alt="" />
                <h3>Du har ingen engangskjøp</h3>
                <p>Utforsk vår nettbutikk med et stort utvalg av ventilasjonsfilter. Finner du ikke det du leter etter kan du
                    alltid kontakte oss for kjøp</p>
                <button type="button" class="barefilter-btn light-green">Gå til nettbutikken</button>
            </div>
        </section>
        <section id="transactions-table" ng-if="hasTransactions()">
            <h2>Ordrehistorikk</h2>
            <table>
                <thead>
                    <tr>
                        <td style="width: 10%;">Ordrenummer</td>
                        <td style="width: 35%;">Produktnavn</td>
                        <td style="width: 20%;">Leveringsadresse</td>
                        <td style="width: 10%;">Antall filter</td>
                        <td style="width: 10%;">Ordredato</td>
                        <!--<td style="width: 10%;">Pris</td>-->
                        <td style="width: 15%;">Over til filterabonnement</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="p in products">
                        <td>
                            <span>{{p.order_identifier}}</span>
                        </td>
                        <td class='product'>
                            <img ng-src='{{p.images[0].url}}' alt='product preview image' />
                            <div>
                                <p>{{p.name}}</p>
                                <span>{{p.short_description}}</span>
                            </div>
                        </td>
                        <td>
                            <p>
                                <strong>{{p.shipping.first_name}} {{p.shipping.last_name}}</strong>
                            </p>
                            <p>{{p.shipping.street_address}}</p>
                            <p>{{p.shipping.postal_code}} {{p.shipping.city}}</p>
                        </td>
                        <td>
                            <strong>{{p.amount | number }} stk.</strong>
                        </td>
                        <td>
                            <strong>{{p.purchase_date | date }}</strong>
                        </td>
                        <td>
                            <button type="button" class="barefilter-btn light-green" ng-click="setupTransfer(p)">Overfør</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>


    <div class="loader-container">
        <div class="barefilter-loader md centered"></div>
    </div>

</div>


<div class="modal fade" id="transfer-to-subscription-modal" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog modal-lg vertical-align-center" role="document">
            <div class="modal-content">
                <button type="button" class="close" ng-click="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="transfer-image">
                                <img ng-src='{{selectedProduct.images[0].url}}' alt="placeholder" />
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 transfer-description">
                            <div class='transfer-title'>
                                <h3>Overfør til filterabonnement</h3>
                                <h1>{{selectedProduct.name}}</h1>
                                <h2>{{selectedProduct.short_description}}</h2>
                            </div>
                            <hr />
                            <!--<section>
                                <h2>Leveringsadresse</h2>
                                <p>Ønsker du å legge til eller endre adresse? Gå til dine
                                    <a href='my-account-user-settings.html'>Brukerinnstillinger</a>
                                </p>
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </section>
                            <hr />-->
                            <div class="row subscription">
                                <div class="col-md-7 col-sm-6 col-xs-6">
                                    <h2>Velg filterabonnement</h2>
                                    <p>Vi leverer filter en eller to ganger i året</p>
                                    <select class="form-control" id="subcription-type-select" ng-options="type.name for type in subscriptionTypes track by type.id"
                                        ng-change="updatePreview()" ng-model="selectedSubscription"></select>
                                </div>
                                <div class="col-md-5 col-sm-6 col-xs-6" id='amount-of-filters'>
                                        <h2>Ny Pris</h2>
                                        <p>Ny Pris ved neste fakturering</p>
        
                                        <div class="cost">
                                            <p>kr {{newPrice | number}},- ink. mva.</p>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                            </div>
                            <hr />

                            <button class="barefilter-btn light-green pull-right" ng-click="transfer()"> Overfør til filterabonnement</button>

                        </div>
                    </div>
                </div>

            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>
<!-- /.modal -->
