<h2>Endre passord</h2>
<div class="password-section-content">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input type="password" id="old-password" placeholder="Gammel passord" ng-model="password.old" ng-change="validate()">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input type="password" id="new-password" placeholder="Nytt passord" ng-model="password.new" ng-change="validate()">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <input type="password" id="repeat-new-password" placeholder="Gjenta passord" ng-model="password.repeat" ng-change="validate()">
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12 text-right feedback-container" ng-class="{'loading': loading}">
            <button type="button" class="barefilter-btn dark-blue" ng-click="save()">lagre</button>
            <div class="feedback">{{feedback}}</div>
            <div class="barefilter-loader xs"></div>
        </div>
    </div>
</div>
